@import url('https://fonts.googleapis.com/css2?family=Inika:wght@700&family=Inter&family=Mountains+of+Christmas:wght@700&display=swap');

.label {
	-fx-font-family: 'Mountains of Christmas', cursive;
}

#timeLabel {
	-fx-font-family: 'Inika', serif;
}

.button {
	-fx-font-family: 'Mountains of Christmas', cursive;
}

.button:hover {
	/*Gives button a shadow and enlargement effect when mouse hovers over it */
	/*-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, .7), 20, 0.3, 0.0, 0.0);*/
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-cursor: hand;
}

#logoImage:hover {
	/*Gives Quick Draw logo an enlargement effect when mouse hovers over it */
	-fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

#backButton:hover {
	-fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-cell-size: 25;
    -fx-font-family: 'Inter', sans-serif;
}

.list-cell:hover {
	-fx-text-fill:  #FF9736;
}

.list-view {
    -fx-background-color: transparent;
}