

.button:hover {
	-fx-border-color: #FFD203;
}

.pane{
    -fx-background-radius: 20px;
  }
  
.pane:hover {
	-fx-border-color: #FFD203;
	-fx-border-radius: 150px;
	-fx-opacity: 0.8;
}

#quickDrawLogo:hover {
	-fx-scale-x: 110%;
	-fx-scale-y: 110%;
}