@import url('https://fonts.googleapis.com/css2?family=Inika:wght@700&family=Inter&family=Mountains+of+Christmas:wght@700&display=swap');

.label {
	-fx-font-family: 'Mountains of Christmas', cursive;
	-fx-font-size: 18px;
}

.button:hover {
	-fx-border-color: #FFD203;
}

.pane {
    -fx-background-radius: 20px;
  }
  
.pane:hover {
	-fx-border-color: #FFD203;
	-fx-border-radius: 150px;
	-fx-opacity: 0.8;
}

#quickDrawLogo:hover {
	-fx-scale-x: 110%;
	-fx-scale-y: 110%;
}